.menu {
  margin-bottom: 20px;
}

.menu__title {
  position: relative;
  padding-top: 90px;
  text-align: center;
  font-size: 40px;
  
  &::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 142px;
    height: 2px;
    background-color: #000;
  }
}

.menu__nav {
  padding: 0 10px;
}

.menu__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .clearfix();
}

.menu__nav-item {
  float: left;
  margin-right: 20px;
  font-size: 0;
  line-height: 0;
}

.menu__nav-link {
  font-size: 14px;
  text-decoration: underline;
  color: @m-color;
  line-height: 44px;
}

.menu__catalog {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  .clearfix();
}

.menu__catalog-item {
  float: left;
  width: 100%;
  padding-left: 32px;
  margin-bottom: 20px;
  box-sizing: border-box;
  
  &:nth-child(1) {/*
    margin-right: 2%;*/
    padding-top: 343px;
    padding-bottom: 12px;
    background-color: #000;
    background-image: url('../img/toa-heftiba-134254.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  
  &:nth-child(2) {
    padding-top: 343px;
    padding-bottom: 12px;
    background: #000 url('../img/austin-moncada-186841.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  
  &:nth-child(3) {/*
    width: 32%;*/
    margin-right: 2%;
    padding-top: 26px;
    padding-bottom: 366px;
    background-color: #000;
    background-image: url('../img/megan-savoie-232969.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  
  &:nth-child(4) {/*
    width: 32%;
    margin-right: 2%;*/
    padding-top: 26px;
    padding-bottom: 366px;
    background-color: #000;
    background-image: url('../img/malicki-beser-181107(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  
  &:nth-child(5) {/*
    width: 32%;
    margin-right: 0;*/
    padding-top: 400px;
    padding-bottom: 12px;
    background-color: #000;
    background-image: url('../img/cala-150730(2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  
  &:nth-child(6) {/*
    margin-right: 2%;*/
    padding-top: 30px;
    padding-bottom: 404px;
    background-color: #000;
    background-image: url('../img/helen-martinez-14708.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  
  &:nth-child(7) {
    padding-top: 30px;
    padding-bottom: 385px;
    background-color: #000;
    background-image: url('../img/carissa-gan-66378.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
}

.menu__catalog-price {
  margin: 0;
  font-size: 26px;
}

.menu__catalog-name {
  font-size: 13px;
  
  b {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.menu__link {
  display: block;
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #ff3305;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  
  &:hover {
    background-color: darken(#ff3305, 10%);
  }
}

@media @desktop-widths {
  .menu {
    margin-bottom: 210px;
    padding-top: 127px;
  }
  
  .menu__title {
    margin-bottom: 70px;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      height: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      width: 58px;
    height: 34px;
    background-position: -20px -824px;
    }
  }
  
  .menu__btn {
    display: none;
  }
  
  .menu__nav {
    padding-left: 0;
    padding-right: 0;
  }
  
  .menu__nav-list {
    margin-bottom: 40px;
    padding: 0;
    padding-top: 6px;
  }
  
  .menu__nav-item {
    display: block;
    float: left;
    margin: 0;
    margin-bottom: 7px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    position: relative;
    
    &:first-child {
      padding-left: 0;
      padding-right: 20px;
    }
    &--picture {
      min-width: 48px;
      padding-left: 80px;
      padding-right: 5px;
      box-sizing: border-box;
      
      &:last-child {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  .menu__nav-link {
    display: block;
    text-decoration: none;
    line-height: 44px;
    padding-left: 40px;
    padding-right: 20px;
    color: #000;
    
    &:hover {
      color: #fc3508;
      
      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fc3508;
      }
    }
    
    &--all {
      padding-left: 0;
    }
    
    &--main {
      padding-left: 40px;
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -20px -409px;
    }
    
    &--salads {
      padding-right: 43px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -16px -950px;
    }
    
    &--deserts {
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -20px -344px;
    }
    
    &--soups {
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -13px -1008px;
    }
    
    &--bread {
      padding-right: 36px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -17px -173px;
    }
    
    &--drinks {
      padding-right: 20px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -11px -464px;
    }
    
    &--snaks {
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -20px -756px;
    }
    
    &--breakfast {      
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -20px -240px;
    } 
    
    &--combo {
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -14px -292px;
    }
    
    &--family {
      padding-right: 40px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -15px -527px;
    }    
    &--other {
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -13px -888px;
    }
    
    &--vegan {
        font-size: 0;
        padding: 0;
        padding-right: 50px;
        min-height: 44px;
        outline: 1px solid #e9e9e9;
        box-sizing: border-box;
        background-image: url('../img/spritesheet.png');
        background-repeat: no-repeat;
        background-position: -7px -1121px;
        
        &:hover {
          outline: 2px solid #fc3508;
          
          &::before {
            display: none;
          }
        }
      }
    
    &--sweden {
        font-size: 0;
        padding: 0;
        min-height: 44px;
        outline: 1px solid #e9e9e9;
        box-sizing: border-box;
        background-image: url('../img/spritesheet.png');
        background-repeat: no-repeat;
        background-position: -7px -1062px;
        
        &:hover {
          outline: 2px solid #fc3508;
          
          &::before {
            display: none;
          }
        }
      }
  }
  
  .menu__catalog {
    padding: 0;
  }
  
  .menu__catalog-item {
    padding-left: 32px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(1) {
      width: 53.6%;
      margin-right: 1.5%;
      background-position: -62px -7px;
      background-repeat: no-repeat;
      background-size: 119%;
    }

    &:nth-child(2) {
      width: 44.5%;
      padding-left: 40px;
      background-position: -47px -15px;
      background-repeat: no-repeat;
      background-size: 141%;
    }
    
    &:nth-child(3) {
      background-size: 121%;
      background-position: -9px -34px;
    }
    
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5){
      width: 32%;
      margin-right: 2%;
      background-repeat: no-repeat;

    }
    
    &:nth-child(4) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px -27px;
    }
    
    &:nth-child(5) {
      margin-right: 0;      
      background-repeat: no-repeat;
      background-size: cover;

    }
    
    &:nth-child(6){
      width: 49.1%;
      margin-right: 1.5%;
      background-position: -141px 0;
      background-repeat: no-repeat;
      background-size: cover;

    }
    
    &:nth-child(7){
      width: 49.1%;      
      background-position: -4px 0;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
}